.taskItem {
  background-color: #c8b7c9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  .taskName {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .taskDescription {
    margin-bottom: 15px;
    display: none;
  }

  .buttonGroup {
    display: none;
    justify-content: center;
    gap: 2px;
  }

  &:hover {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  &:hover .taskDescription,
  &:hover .buttonGroup {
    display: flex;
  }
}
