.taskList {
  list-style-type: none;
  padding: 0;
  position: relative; // Necesario para el solapamiento
}

.taskList__item {
  margin-bottom: -50px; // Ajusta este valor según el grado de solapamiento que desees
  z-index: 1;
  transition: z-index 0.3s ease;

  &:hover {
    z-index: 10; // Trae el elemento al frente al pasar el ratón
  }
}
