.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 90px;
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  z-index: 1000;
}

.indie-flower-regular {
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.logoutButton {
  padding: 6px 10px;
  width: 100px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  color: #333;
  border-radius: 4px;
  background-color: #b3e0e6;
  transition: background-color 0.3s ease;
  height: 27px;

  &:hover {
    background-color: #8bc8d8;
  }
}

.taskGroups {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.taskGroup {
  margin-top: 20px;
  flex: 1;
  margin: 0 10px;

  @media (max-width: 600px) {
    margin: 10px 0;
    flex: 100%;
  }
}

.groupHeading,
.heading {
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  font-weight: 600;
  color: #333;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #b3e0e6;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
  }
}

.taskList {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.taskList li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  font-size: 15px;
}

.taskList li:hover {
  transform: translateY(-5px);
}

.taskList li h3 {
  margin-bottom: 5px;
}

.taskList li p {
  margin-bottom: 10px;
}

.taskList li button {
  padding: 8px 16px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #b3e0e6;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.taskList li button:hover {
  background-color: #8bc8d8;
}

.taskList li .editButton {
  background-color: #007bff;
  color: #fff;
}

.taskList li .statusButton {
  color: #333;
}

.taskList li .inProgressButton {
  background-color: #80cbc4;
  color: #333;
}

.taskList li .completedButton {
  background-color: #4caf50;
  color: #fff;
}
